body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}

#projects-container {
  grid-column: 1 2;
}

#projects-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
}

#tasks-container {
  grid-column-start: 2;
  grid-column-end: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
