body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #d7e8ff;
}

#current-project {
  font-size: 2rem;
}

#projects-container {
  grid-column: 1 2;
  background-color: #1b263b;
  padding: 10px;
  border-radius: 8px;
}

#projects-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
}

input {
  padding: 5px;
  background-color: white;
}

#project-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
}

#tasks-container {
  grid-column-start: 2;
  grid-column-end: 7;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
table {
  width: 90%;
}

.borderless {
  outline: none;
  background-color: none;
}
h1 {
  text-align: center;
}

label,
h1,
h2,
h3,
h4 {
  color: white;
}

.project-title,
p {
  color: #c2a83e;
  font-size: 1.25rem;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: rgb(189, 37, 37);
  color: white;
}

table {
  max-width: 55%;
}

button {
  padding: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  background-color: #c2a83e;
  border: 2px solid white;
}

td {
  background-color: white;
  overflow: hidden;
}

tr {
  outline: 2px solid #c2a83e;
  border-radius: 8px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

#utilities {
  background-color: #1b263b;
  padding: 15px;
  border-radius: 8px;
}

.hidden {
  display: none;
}
